@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&family=Playfair+Display:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #FDF8F2;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-area, #printable-area * {
    visibility: visible;
  }
  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 10cm;
    height: 10cm;
  }
}
